
#miBoton {
   padding: 12px 24px;
   font-size: 18px;
   background-color: #ff7eb3;
   color: white;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s ease, transform 0.2s ease;
   border-radius: 5px;
}

#miBoton:hover {
   background-color: #ff4d94;
   transform: scale(1.1);
}

#miBoton2 {
   padding: 12px 24px;
   font-size: 18px;
   background-color: #ff7eb3;
   color: white;
   border: none;
   cursor: pointer;
   transition: background-color 0.3s ease, transform 0.2s ease;
   border-radius: 5px;
}

#miBoton2:hover {
   background-color: yellow;
   transform: scale(1.1);
}